swagger: "2.0"
info:
  title: "Payversa API Integration Documentation"
  version: "1.0.0"
  description: |
    Welcome to Payversa API Documentation!
  
host: "payversa.io"
basePath: "/api/v1"
tags:
- name: "Requests"
schemes:
- "https"
- "http"
paths:
  /gateway/entry:
    post:
      tags:
        - "Requests"
      description: |
        Entry point to send payment request
        
        The signature is calculated by using the SHA-256 algorithm with the following input:
        amount+currency+refNo+accessId+accessSecret
        
        Example:
        amount: 100.00 (Note: Remove the "." and "," in the string before hash)
        currency: MYR
        refNo: 123
        accessId: exampleId
        accessSecret: secret
        
        The hash would be calculated on the following string:
        10000MYR123exampleIdsecret
        
        The result is (using SHA-256 algorithm):
        c3d8c0fca6730aa5b933392989cb336db2f1a2407979bcf8baf6385f4b4f5205
        
      consumes: 
      - "application/json"
      produces: 
      - "application/json"
      parameters:
        - in: body
          name: params
          schema:
            type: "object"
            required:
              - accessId
              - amount
              - currency
              - refNo
              - signature
            properties:
              accessId:
                type: "string"
              amount:
                type: "string"
              currency:
                type: "string"
              email:
                type: "string"
              name:
                type: "string"
              refNo:
                type: "string"
              signature:
                type: "string"
      responses:
        200:
          description: "Successfully created transaction"
          schema:
            type: "object"
            properties:
              paymentId:
                type: "string"
              paymentUrl:
                type: "string"
        400:
          description: "Invalid signature"
  
  /callback:
    post:
      tags:
          - "Requests"
      description: |
        The server will post a callback to the partner's callback URL, upon a successful/failed transaction. The server will post up to three times unless the callback responds "ok" without any other text.
        
        The signature is calculated by using the SHA-256 algorithm with the following input:
        refNo+status+accessSecret
        
        Example:
        amount: 100.00
        currency: MYR
        transId: 0001
        refNo: 123
        status: ACCEPTED
        accessSecret: secret
        
        The hash would be calculated on the following string:
        10000MYR0001123ACCEPTEDsecret
        
        The result is (using SHA-256 algorithm):
        5bfae778ce4d8ff18f2819b7ac9014e0d45e70ef7dea07679f06f03de66c454b
        
        
        Please make sure the signature is correct before proceding.
        
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: params
        schema:
          type: "object"
          required:
            - amount
            - currency
            - transId
            - refNo
            - status
            - signature
          properties:
            amount:
              type: "string"
            currency:
              type: "string"
            transId:
              type: "string"
            refNo:
              type: "string"
            status:
              type: "string"
            signature:
              type: "string"
      responses:
        200:
          description: "Success"
          
  /redirect:
    post:
      tags:
        - "Requests"
      description: |
        Redirects the user after they have completed/failed payment
        
        The signature is calculated by using the SHA256 algorithm with the following input:
        refNo+status+accessSecret
        
        Example:
        amount: 100.00
        currency: MYR
        transId: 0001
        refNo: 123
        status: ACCEPTED
        accessSecret: secret
        
        The hash would be calculated on the following string:
        10000MYR0001123ACCEPTEDsecret
        
        The result is (using SHA-256 algorithm):
        5bfae778ce4d8ff18f2819b7ac9014e0d45e70ef7dea07679f06f03de66c454b
        
        Please make sure the signature is correct before proceding.
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: params
        schema:
          type: "object"
          required:
            - amount
            - currency
            - transId
            - refNo
            - status
            - signature
          properties:
            amount:
              type: "string"
            currency:
              type: "string"
            transId:
              type: "string"
            refNo:
              type: "string"
            status:
              type: "string"
            signature:
              type: "string"
      responses:
        200:
          description: "Success"
    